.error-modal h2{
    margin:0;
    padding:1rem;
    background:red;
    color:white;
    border-radius: 7px 7px 0 0;
}
.error-modal p{
    padding:1rem;
}
.error-modal-actions{
    display: flex;
    justify-content: flex-end;
    padding:0 0.5rem;
}